* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:url("../assets/img/paris-bg.jpeg");
  position: fixed;
  width: 100%;
  height: auto;
  background-repeat:no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
